<!doctype html>
{% load static %}
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Barcode</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap-select/css/bootstrap-select.css" %}">
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
         <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'master/base.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Get Barcode</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'master:category' %}" class="breadcrumb-link">Categories</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:design' %}" class="breadcrumb-link">Designs</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:quality' %}" class="breadcrumb-link">Qualities</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:unit' %}" class="breadcrumb-link">Units</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:shade' %}" class="breadcrumb-link">Shades</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:manufacturer' %}" class="breadcrumb-link">Manufacturers</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'master:item' %}" class="breadcrumb-link">Items</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Barcodes</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Search Item</h5>
                            <div class="card-body">
                                <form method="post" action="{% url 'master:barcode' %}">{% csrf_token %}
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <input type="text" name="srh" class="form-control" placeholder="Enter Item Name">
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="submit" class="btn btn-danger">Search</button>
                                        </div>
                                    </div>
                                </form>
                                {% if massage %}
                                    {{ massage }}
                                {% endif %}
                                {% if image %}
                                    <div>
                                <!-- .card -->
                                <div class="card card-figure">
                                    <!-- .card-figure -->
                                    <figure class="figure">
                                        <!-- .figure-img -->
                                        <div class="figure-attachment">
                                            <img src="{{ image.url }}" alt="Card image cap" class="img-fluid"> </div>
                                        <!-- /.figure-img -->
                                        <figcaption class="figure-caption">
                                            <ul class="list-inline d-flex text-muted mb-0">
                                                <li class="list-inline-item text-truncate mr-auto">{{ item }} </li>
                                                 <li class="list-inline-item">
                                                        <a href="{{ image.url }}" download>  <span><i class="fas fa-download "></i></span></a>
                                                    </li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <!-- /.card-figure -->
                                </div>
                                <!-- /.card -->
                            </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end basic table  -->
                    <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>
</body>
 
</html>